<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>SHOT CLOCK</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>
<body>
  <header>
  <nav class="red darken-4">
    <div class="nav-wrapper">
      <a class="brand-logo">SHOT CLOCK</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="formContainer" href="login">log out</a></li>
        <li><a href="">dashboard</a></li>
      </ul>
    </div>
  </nav>
  </header>

    {{{body}}}
    

<script src="/js/logout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
