<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SHOT CLOCK</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">log out</a></li>
        <li><a href="">dashboard</a></li>
      </ul>
    </div>
  </nav>
  </header>
<main>
  <div class="container">
    <div class="row">
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src = "/images/atlanta hawks.png" alt="Atlanta Hawks"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/boston celtics.png" alt="Bostin Celtics"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/brooklyn nets.png" alt="Brooklyn Nets"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/charlotte hornets.png" alt="Charlotee Hornets"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/chicago bulls.png" alt="Chicago Bulls"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/cleveland cavaliers.png" alt="Cleveland Cavaliers"></a></div>
    </div>
    <div class="row">
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src = "/images/dallas mavericks.png" alt="Dallas Mavericks"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/denver nuggets.png" alt="Denver Nuggets"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/detroit pistons.png" alt="Detroit Pistons"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/golden state warriors.png" alt="Golden State Warriors"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/houston rockets.png" alt="Houston Rockets"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/indiana pacers.png" alt="Indiana Pacers"></a></div>
    </div>
    <div class="row">
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src = "/images/los angeles clippers.png" alt="Los Angeles Clippers"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/los angeles lakers.png" alt="Los Angeles Lakers"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/memphis grizzlies.png" alt="Memphis Grizzlies"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/miami heat.png" alt="Miami Heat"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/milwaukee bucks.png" alt="Milwaukee Bucks"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/minnesota timberwolves.png" alt="Minnesota Timberwolves"></a></div>
    </div>
    <div class="row">
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src = "/images/new orleans pelicans.png" alt="New Orleans Pelicans"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/new york knicks.png" alt="New York Knicks"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/oklahoma city thunder.png" alt="Oklahoma City Thunder"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/orlando magic.png" alt="Orlando Magic"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/philadelphia 76ers.png" alt="Philadelphia 76ers"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src = "/images/phoenix suns.png" alt="Phoenix Suns"></a></div>
    </div>
    <div class="row">
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/portland trail blazers.png" alt="Portland Trail Blazers"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/sacremento kings.png" alt="Sacremento Kings"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/san antonio spurs.png" alt="San Antonio Spurs"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/toronto raptors.png" alt="Toronto Raptors"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src="/images/utah jazz.png" alt="Utah Jazz"></a></div>
      <div><a class = "col s6 m4 l2" href = ""><img class = "responsive-img" src = "/images/washington wizards.png" alt="Washington Wizards"></a></div>
    </div>
  </div>
</main>
   <footer class="page-footer">
          <div class="container">
            <div class="row">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>