<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SHOT CLOCK</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">log out</a></li>
        <li><a href="">dashboard</a></li>
      </ul>
    </div>
  </nav>
  </header>
<br>
<div>
  <a href = ""><a><imga src = "/images/atlanta hawks.png">Atlanta Hawks</a>
  <a href = ""><img src="/images/boston celtics.png">Bostin Celtics</a>
  <a href = ""><img src="/images/brooklyn nets.png">Brooklyn Nets</a>
  <a href = ""><img src="/images/charlotte hornets.png">Charlotee Hornets</a>
  <a href = ""><img src="/images/chicago bulls.png">Chicago Bulls</a>
  <a href = ""><img src="/images/cleveland cavaliers.png">Cleveland Cavaliers</a>
</div>
<div>
    <a href = ""><a><imga src = "/images/dallas mavericks.png">Dallas Mavericks</a>
  <a href = ""><img src="/images/denver nuggets.png">Denver Nuggets</a>
  <a href = ""><img src="/images/detroit pistons.png">Detroit Pistons</a>
  <a href = ""><img src="/images/golden state warriors.png">Golden State Warriors</a>
  <a href = ""><img src="/images/houston rockets.png">Houston Rockets</a>
  <a href = ""><img src="/images/indiana pacers.png">Indiana Pacers</a>
</div>
<div>
    <a href = ""><a><imga src = "/images/los angeles clippers.png">Los Angeles Clippers</a>
  <a href = ""><img src="/images/los angeles lakers.png">Los Angeles Lakers</a>
  <a href = ""><img src="/images/memphis grizzlies.png">Memphis Grizzlies</a>
  <a href = ""><img src="/images/miami heat.png">Miami Heat</a>
  <a href = ""><img src="/images/milwaukee bucks.png">Milwaukee Bucks</a>
  <a href = ""><img src="/images/minnesota timberwolves.png">Minnesota Timberwolves</a>
</div>
<div>
  <a href = ""><a><imga src = "/images/new orleans pelicans.png">New Orleans Pelicans</a>
  <a href = ""><img src="/images/new york knicks.png">New York Knicks</a>
  <a href = ""><img src="/images/oklahoma city thunder.png">Oklahoma City Thunder</a>
  <a href = ""><img src="/images/orlando magic.png">Orlando Magic</a>
  <a href = ""><img src="/images/philadelphia 76ers.png">Philadelphia 76ers</a>
    <a href = ""><a><imga src = "/images/phoenix suns.png">Phoenix Suns</a>
</div>
<div>
  <a href = ""><img src="/images/portland trail blazers.png">Portland Trail Blazers</a>
  <a href = ""><img src="/images/sacremento kings.png">Sacremento Kings</a>
  <a href = ""><img src="/images/san antonio spurs.png">San Antonio Spurs</a>
  <a href = ""><img src="/images/toronto raptors.png">Toronto Raptors</a>
  <a href = ""><img src="/images/utah jazz.png">Utah Jazz</a>
    <a href = ""><a><imga src = "/images/washington wizards.png">Washington Wizards</a>
</div>
   <footer class="page-footer">
          <div class="container">
            <div class="row">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>