
<section class="login-signup">
<div class="signup row">
  <section class="signupContainer col s12 m6  z-depth-2 red darken-4">
    <form class="signupForm">   
      <h2 class="signupPage">Signup</h2>
        <div class="nameBox">
             <label for="name">Name:</label>
             <input id="name-signup" type="text" class="validate" style="color:white">
        </div>
        <div class="emailB">
          <label for="email">Email:</label>
          <input id="email-signup" type="email" class="validate" style="color:white">
        </div>
        <div class="passB">
         <label for="password">Password:</label>
         <input id="password-signup" type="password" class="validate" style="color:white">
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
    </form>
</section>
</div>

<div class="login row">
<section class="loginContainer s12 m6 z-depth-2 red darken-4">
<form class="loginForm">    
    <h2 class="loginPage">Login</h2>
    <div class="emailBox">
        <label for="email-login">email:</label>
        <input class="email-input" type="text" id="email-login" style="color:white">
    </div>
    <div class="passBox">
        <label for="pass-login">password:</label>
        <input class="pass-input " type="password" id="pass-login" style="color:white">
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>
</section>
</div>
</section>

    <script src="/js/login.js"></script>