<form>
    <div>
        <label>email:</label>
        <input class="email-input" type="text" id="email-login"/>
    </div>
    <div>
        <label>password:</label>
        <input class="pass-input" type="password" id="pass-login"/>
    </div>
    <div>
        <button type="submit">login</button>
    </div>

{{!-- add in js login --}}
    <script></script>