<section class="loginContainer z-depth-2">
<form class="formContainer ">    
    <h2 class="loginPage">Login</h2>
    <div class="emailBox">
        <label for="email-login">email:</label>
        <input class="email-input" type="text" id="email-login"/>
    </div>
    <div class="passBox">
        <label for="pass-login">password:</label>
        <input class="pass-input " type="password" id="pass-login"/>
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>
</section>

<h2>Signup</h2>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        <div>
            <button type="submit">Signup</button>
        </div>
    </div>
</div>
</form>


{{!-- add in js login --}}
    <script src="/js/login.js"></script>