{{!-- Header & Nav bar properties --}}
<header>
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo">SHOT CLOCK</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div>
                    {{!-- Search bar and navigation --}}
                </div>
                <li><a href="">log out</a></li>
                <li><a href="">dashboard</a></li>
                <li><input id="search" type="search" required>
                    <label class="label-icon" for="search"></label>
            </ul>
        </div>
    </nav>
</header>

<p>{{team}}</p>
{{!-- big div container --}}
<div>
    {{!-- left side of the screen --}}
    <div>
        {{!-- top section will show chosen team info --}}
        <div></div>
        {{!-- bottom section will show opposing team info --}}
        <div></div>
    </div>
    {{!-- right side of the screen --}}
    {{!-- questions for predictions will go here and answers will populate in table (not shown to user) --}}
    <div></div>
</div>
