body{
    background-color: rgb(24, 24, 125);
}

.login-signup{
    display:flex;
    margin-top: 10%;
}

.loginPage {
    color:whitesmoke;
    text-align: center;
} 

.loginContainer{
    min-height: 10vh;
    width: 20vw;
    border: 2px solid black;
}

.loginForm{
    margin:10%;
}

.login{
    min-height: 40vh;
    width:50vw;
    display: flex;
    justify-content: center;
}

/* Start https://www.cursors-4u.com */ 
* {cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo52.cur), auto !important;} 
/* End https://www.cursors-4u.com */


.signupPage {
    color:whitesmoke;
    text-align: center;
} 

.signupContainer{
    min-height: 10vh;
    width: 20vw;
    border: 2px solid black;
}

.signupForm{
    margin:10%;
}

.signup{
    min-height: 40vh;
    width:50vw;
    display: flex;
    justify-content: center;
}

.choose{
    color: white;
}

.youtube{
    display: flex;
    justify-content: center;
    margin-left: 1%;
}

