.loginPage {
    color:black;
    text-align: center;
} 

.loginContainer{
    height: 50vh;
    width: 40vw;
    border: 2px solid black;
}

.formContainer{
    margin: 5%;
}
/* Start https://www.cursors-4u.com */ 
* {cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo52.cur), auto !important;} 
/* End https://www.cursors-4u.com */
